{% extends 'core/base.html' %}
{% load static %}
{% block title %}Menú{% endblock %}
{% block content %}
{% include 'menu/includes/menu_menu.html' %}
    
    <h1 style="color:olivedrab">Menú para hoy:</h1>
    {% for categoria in categorias %}
        <div>
            <h2 style="color:darkslategray">{{ categoria }}</h2>
            {% for plato in platos %}
            <div>
                <h3 style="color:darkcyan">{% if plato.categoria_id_id == categoria.categoria_id %}{{ plato }} - {{plato.precio}} € {% endif %}</h3>
            </div>
            {% endfor %}
        </div>
        <br>
    {% endfor %}

{% endblock %}
</body>
</html>