<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} | BitBrasas</title>

    {% load static %}

    <!-- Bootstrapp -->
    <link href="{% static 'externo/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'externo/css/main.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'externo/css/style.css' %}" type="text/css" rel="stylesheet">
    
</head>
<body class="text-center" background="{% static 'externo/img/menu_madera.jpg' %}" type="img">

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sytle="background-color:#e3f2fd;">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold" href="{% url 'home' %}">BitBrasas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="ned">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item px-lg-4 {% if request.path == '/menu/' %}active{% endif %}">
                        <a class="nav-link text-uppercase text-expanded font-weight-bold" href="{% url 'menu' %}">Menú</a>
                    </li>
                    <li class="nav-item px-lg-4 {% if request.path == '/menu/createPedido/' %}active{% endif %}">
                        <a class="nav-link text-uppercase text-expanded font-weight-bold" href="{% url 'menu:createPedidos' %}">Elije</a>
                    </li>
                    <li class="nav-item {% if request.path == '/menu/pedido/' %}active{% endif %}">
                        <a class="nav-link text-uppercase font-weight-bold" href="{% url 'pedido' %}">Pedido</a> 
                    </li>
                    <li class="nav-item {% if request.path == '/menu/pedidos/' %}active{% endif %}">
                        <a class="nav-link text-uppercase font-weight-bold" href="{% url 'menu:pedidos' %}">Lista Pedidos</a> 
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item px-lg-4 {% if request.path == '/profiles/' %}active{% endif %}">
                            <a class="nav-link text-uppercase text-expanded font-weight-bold" href="{% url 'profiles:list' %}">Staf</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item {% if request.path == '/accounts/login/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'login' %}">Acceder</a>
                        </li>
                        <li class="nav-item {% if request.path == '/accounts/signup/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'signup' %}">Registro</a>
                        </li>
                        <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                        <a class="nav-link text-uppercase text-expanded font-weight-bold" href="">Usuario: {{request.user.username}}</a>
                        </li>
                        <li class="nav-item {% if request.path == '/accounts/profile/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'profile' %}">Actualizar Perfil</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                        </li>
                    {% endif %}
                </ul>
            </div>  
        </div>
      </nav>

    {% block content %} {% endblock %}
    <!-- Bootstrap js-->
    <script src="{% static 'externo/js/jquery.min.js' %}"></script>
    <script src="{% static 'externo/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'externo/js/main.js' %}"></script>
    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 mbt1">&copy; BitBrasas 2020</p>
        </div>
    </footer>
    
</body>
</html>